name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }} (${{ matrix.arch }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-10.15]
        arch: [auto64]
        include:
          # - os: ubuntu-20.04
          #   arch: aarch64
          - os: macos-10.15
            arch: arm64

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set up QEMU
        if: runner.os == 'Linux' && matrix.arch != 'auto64'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: ${{ matrix.arch }}

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.1.1
        env:
          CIBW_BUILD: cp37-* cp38-* cp39-* cp310-*
          CIBW_ARCHS: ${{ matrix.arch }}
          CIBW_ENVIRONMENT_MACOS: TARGET_ARCH=${{ matrix.arch }}
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
          CIBW_BEFORE_ALL: bash scripts/build_${{ runner.os }}.sh
          CIBW_BEFORE_BUILD: pip install pybind11 numpy
          CIBW_TEST_REQUIRES: pytest pillow==8.3.1 glfw
          CIBW_TEST_REQUIRES_MACOS: pytest pillow pyopengl pyopengl-accelerate
          CIBW_TEST_COMMAND: python -m pytest {project}/tests
          CIBW_TEST_COMMAND_LINUX: >
            xvfb-run -s "-screen 0 640x480x24" python -m pytest {project}/tests
          CIBW_TEST_SKIP: "*-macosx_arm64"

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_docs:
    name: Build docs
    needs: [build_wheels]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.8'

      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - name: Build docs
        run: |
          python -m pip install -f dist skia-python
          python -m pip install sphinx sphinx-rtd-theme
          python setup.py build_sphinx

      - name: Deploy docs
        if: github.event_name == 'release' && github.event.action == 'published'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html

  publish:
    name: Upload packages to PyPI
    needs: [build_wheels]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_PASSWORD }}
